*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.bg-yellow{
    background-color: #F5890D;
}

.bg-orange{
    background-color: #EA512E;
}

.bg-lightPurple{
    background-color: #E7DDF4;
}

.bg-green{
    background-color: #82B440;
}

.bg-pink{
    background-color: #FDF6ED;
}

.bg-darkPink{
    background-color: #FBC9D5;
}

.bg-skyBlue{
    background-color: #D3F5FE;
}

.bg-skin{
    background-color: #FCE0AD;
}

.bg-lightOrange{
    background-color: #FEE9CA;
}

.bg-blue{
    background-color: #091629;
}

.text-yellow{
    color: #F5890D;
}

.text-orange{
    color: #EA512E;
}

.text-blue{
    color: #1B0238;
}

.text-silver{
    color: #6B91C8;
}

.mt-6{
    margin-top: 60px;
}

.mt-7{
    margin-top: 70px;
}

.mt-8{
    margin-top: 80px;
}

.mt-9{
    margin-top: 90px;
}

.mt-10{
    margin-top: 100px;
}

.mt-15{
    margin-top: 150px;
}

.mt-20{
    margin-top: 200px;
}

.mt-30{
    margin-top: 300px;
}

.mt-40{
    margin-top: 400px;
}

.mt-50{
    margin-top: 500px;
}

.mb-5{
    margin-bottom: 50px;
}

.mb-10{
    margin-bottom: 100px;
}

.p-10{
    padding: 100px;
}
.pt-10{
    padding-top: 100px;
}

.pb-10{
    padding-bottom: 100px;
}

.education-girl{
    width: 750px;
    right: 0;
}

p{
    margin-bottom: 15px;
    line-height: 1.8;
    color: grey;
    font-size: 16px;
}

.fs-60{
    font-size: 60px;
}

.fs-45{
    font-size: 45px;
}

.fs-30{
    font-size: 30px;
}

.f-20{
    font-size: 20px;
}

.t-1{
    top: 1%;
}

.t-5{
    top: 5%;
}

.t-10{
    top: 10%;
}

.t-20{
    top: 20%;
}

.t-30{
    top: 30%;
}

.t-115{
    top: 115%;
}

.t-200{
    top: 200%;
}

.b-20{
    bottom: 20%;
}

.b-2{
    bottom: 2%;
}

.b-1{
    bottom: 1%;
}

.b-5{
    bottom: 5%;
}

.b-10{
    bottom: 10%;
}

.b-15{
    bottom: 15%;
}

.b-30{
    bottom: 30%;
}

.start-1,
.start-2{
    left: 1%;
}

.start-3{
    left: 30%;
}

.start-4{
    left: 40%;
}

.start-5{
    left: 40%;
}

.start-10{
    left: 10%;
}

.end-10{
    right: 10%;
}

.end-1{
    right: 1%;
}

.btn{
    width: 200px;
    color: #fff;
    padding: 12px 45px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.5s;
    transition-timing-function: ease;
    background-color: #EA512E;
    display: inline-block;
}

.btn:hover{
    background-color: #F5890D;
    color: #fff; 
    transition: all 0.5s linear;
}

/* Header Section Start */

.header li a:hover{
    color: #F5890D;
}

.header .dropdown-menu{
    width: 220px;
    padding-left: 10px;
    border-radius: 0;
}

.header .dropdown-menu .dropdown-item{
    padding-top: 10px;
    color: #1B0238;
    font-weight: bold;
}
/* Header Section End */

/* Hero Section Start */
.banner{
    width: 100%;
    height: 650px;
    background: url(../img/main-banner-bg.jpg) !important;
    background-size: cover;
    background-position: center center;
}

.banner .cloud{
    width: 100%;
    top: 90%;
}
 /* Animation Start */
.banner .shape-1,
.banner .shape-2,
.banner .shape-4 {
    animation: shape-1 1.5s linear alternate infinite;  
}
@keyframes shape-1 {
    0%{  
    }
    100%{
        left: 3%;
    }
}


.banner .shape-3{
    animation: shape-3 1.5s linear alternate infinite;  
}
@keyframes shape-3 {
    0%{ 
        bottom: 3%;
    }
    100%{
        
    }
}

.banner .shape-5{
    animation: shape-5 1.5s linear alternate infinite;  
}
@keyframes shape-5 {
    0%{ 
        left: 42%;
    }
    100%{
        
    }
}

.banner .shape-4{
    animation: shape-owl 1.5s linear alternate infinite;
}

@keyframes shape-owl {
    0%{
        right: 12%;
    }
    100%{
        
    }
}

 /* Animation End */

/* Hero Section End */

/* Who We Are Section Start */
.who-we-are .who-we-are-list ul li span{
    background-color: #6B91C8;
    margin: 10px;
}
/* Who We Are Section End */

/* Popular Section Start */
.popular{
    background-color: #FDF6ED;
}

.popular h3 a{
    text-decoration: none;
    color: #111;
    font-weight: bold;
}

.popular ul{
    display: flex;
    list-style: none;
}

.popular ul li{
    text-decoration: none;
}

.popular ul li span{
    color: #EA512E;
    font-weight: bold;
}

.popular .price span{
    background-color:#F5890D;
    padding:10px;
}

.popular .card{
    overflow: hidden;
}

.popular .card:hover img{
    transform: scale(1.2) rotate(3deg);
    transition: all 0.5s linear ;
}

.popular .card:hover .price span{
    background-color: #EA512E;
}
.popular .card:hover h5{
    color: #EA512E;
    transition: all 0.5s linear ;
}

.popular .card .class-btn{
    background-color: #EA512E;
    width: 50px;
    border-radius: 0px 0px 5px 0px;
    padding: 5px;
    color: #fff;
}

.popular .card:hover .class-btn{
    background-color: #F5890D;
    transition: all 0.5s linear;
}

.popular .card hr{
    width: 100%;
    color: #000000;
    border-style: dashed;
}

/* Popular Section End */

/* Core Value Section Start */

.core .core-btn{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 55px;
    border: 3px solid #fff;
    margin-right: 25px;
    outline-offset: 1px;
    font-weight: bold;
}

.core .core-1{
    background-color: #D3F5FE;
    outline: 2px solid #D3F5FE;
}

.core .core-2{
    background-color: #FCE0AD;
    outline: 2px solid #FCE0AD;
}

.core .core-3{
    background-color: #FBC9D5;
    outline: 2px solid #FBC9D5;
}

.core .core-head:hover .core-btn{
    background-color: #EA512E;
}

.core .core-head:hover h4{
    color: #EA512E;
}
/* Core Value Section End */

/* Core Teacher Section Start */
.teacher .social-media{
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin-bottom: -50px;
   transition: all 0.5s ease-in;
}

.teacher .teacher-image{
    background-color: #EA512E;
    border-radius: 0px 100px;
}

.teacher .teacher-link:hover .teacher-image{
    background-color: #F5890D;
    border-radius: 0px 100px 100px 100px;
    transition: all 0.5s ease-in;
}

.teacher .teacher-link:hover .social-media{
    margin-bottom: 10px;
    transition: all 0.5s ease-out;
}

.teacher .social-media li a i:hover{
    background-color: #F5890D;
}
/* Core Teacher Section End */

/* Testimonial Section Start */

.testimonial .card span{
    line-height: 80px;
    padding-top: 2px;
    color: #EA512E;
    background-color: #fff;
}

.testimonial .testimonial-block .card:hover span{
    background-color: #EA512E;
    color: #fff;
    transition: all 0.3s ease-in;
}

.testimonial .nav-button button{
    width: 50px;
    height: 50px;
    color: #fff;
    margin-left: -45px;
    margin-right: -45px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 50px;
    text-align: center;
    background: #EA512E;
}

.testimonial .nav-button button:hover{
    background: #F5890D;
    transition: all 0.3s ease-in;
}
/* Testimonial Section End */

/* Buy Button Animation Section Start */
div.buy{
    height: 50px;
    margin-top: 10px;
    background-color: #82B440;
    position: fixed;
    top: 45%;
    right: 5%;
    margin-top: 10px;
    border-radius: 50px;
    animation: buy-now 1.5s linear infinite alternate;
}

.buy a{
    line-height: 47px;
}

@keyframes buy-now {
    0%{
        width: 120px;
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 6deg);
    }
    50%{
        transform: scale3d(0.7, 0.7, 0.7) rotate3d(0, 0, 1, -3deg) ;;
    }
    100%{
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 6deg);
        width: 120px;
    }
}
/* Buy Button Animation Section End */

/* Upcoming Events Section Start */
.event{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.event .event-box-item{
    background-color: #ffffff;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.event-box-item .event-content h3 a{
    color: #1b0238;
    text-decoration: none;
    transition: 0.5s;
}

.event-box-item .event-list{
    margin-top: 20px;
}

.event-box-item .event-list li{
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    margin-bottom: 12px;
}

.event-box-item .event-date{
    text-align: center;
}

.event-box-item .event-date h4{
    font-size: 80px;
    color: #EA512E;
    font-weight: bold;
}

.event-box-item .event-date span{
    font-size: 20px;
    color: #ea512e;
    margin-top: 10px;
    font-weight: 500;
}

/* Upcoming Events Section End */

/* Footer Section Start */
.footer{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/footer-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.footer ul li a i:hover{
    background-color: #F5890D;
}

/* Footer Section End */

/* Responsive Media Query Start */

@media screen and (max-width: 1300px){
    .education-girl{
        width: 500px;
    }  
}

@media screen and (max-width: 1200px){
    .mt-15{
        margin-top: 100px;
    }
}

@media screen and (max-width: 995px){
    .block{
        display: block;
    }
    .education-girl{
        right: 15%;
        width: 700px;      
    } 
    .first-text{
        max-width: 600px;
        margin: auto;
        text-align: center;
        padding-bottom: 25px;
    }
    .banner{
        height: 1200px;
    }
    .banner .start-5{
        left: 70%;
    }
    @keyframes shape-5 {
        0%{ 
            left: 72%;
        }
        100%{
            
        }
    }
    .banner .start-4{
        left: 90%;
        bottom: 20%;
    }
    @keyframes shape-3 {
        0%{ 
            bottom: 22%;
        }
        100%{
            
        }
    }
    .cloud{
        max-width: 0;
    }
    
}
@media screen and (max-width: 993px){
    .first-text{
        padding-bottom: 35px;
    }
    .banner{
        height: 1350px;
    }
    .education-girl{
        right: 5%;
    }    
}

@media screen and (max-width: 768px) {
    .img-fluid {
        height: auto;
    }
    .shape-1, .shape-2, .shape-3, .shape-4, .shape-5{
        display: none;
    }
    .banner,
    .event .event-box-item,
    .news .card,
    .footer .row,
    .banner,
    .who-we-are p,
    .who-we-are h2{
        text-align: center;
    }
    .banner .block .btn-1{
        margin-bottom: 3px;
    }

    .creator h5{
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px) {
    .popular .class-shape .shape-1 {
        display: none;
    }
}

@media screen and (max-width: 742px){
    .education-girl{
        width: 350px;
        right: 27%;
    }
    .banner{
        height: 960px;
    }
}

@media screen and (max-width: 743px){
    .education-girl{
        right: 10%;
    }
}

@media screen and (max-width: 376px){
    .education-girl{
        width: 300px;
    }
    .banner{
        height: 970px;
    }
    .btn-1{
        margin-bottom: 10px;
    }
    .heading{
        font-size: 50px;
    }
}



/* Responsive Media Query End */